# Data Structures in Python
1. data structures is collection of data in different formates
2. 5 types of data structures in python
    1. String - String is collection of data in single quotes or double quotes ' ' or " "
    2. Lists - List is collection of elements enclosed by [ ]
    3. Tuples - Tuple is collection of elements enclosed by ()
    4. Dictionaries - collection of itesm enclosed by {}
    5. sets - collection of elements enclosed by {}

In [1]:
# string
info = "welcome to python program"
data = 'welcome to texas international academy'
print(info)
print(data)
print(type(info))
print(type(data))

welcome to python program
welcome to texas international academy
<class 'str'>
<class 'str'>

In [2]:
#list
names = ["shiva","vikas","vikram"]
ages = [25,26,27]
salary = [10000.25,12500.25,145680.00]
print(names)
print(ages)
print(salary)

['shiva', 'vikas', 'vikram']
[25, 26, 27]
[10000.25, 12500.25, 145680.0]

In [3]:
#tuple
names = ("shiva","vikas","vikram")
ages = (25,26,27)
salary = (10000.25,12500.25,145680.00)
print(names)
print(ages)
print(salary)
print(type(names))

('shiva', 'vikas', 'vikram')
(25, 26, 27)
(10000.25, 12500.25, 145680.0)
<class 'tuple'>

In [4]:
# dict
info = {"name":"shiva","age":25,"salary":15000.25,"address":"hyderabad"}
print(info)
print(type(info))

{'name': 'shiva', 'age': 25, 'salary': 15000.25, 'address': 'hyderabad'}
<class 'dict'>

In [ ]:
# set 
data = {10,20,30,25,21}
info = {10,20,30,15,10,40,20,30}
print(data)
print(info)
print(type(data))
print(type(info))