# iterations in python
1. iterations is a loop to perform repeatative tasks or repeatative performances
2. two types of iterators in python
3. `for loop`
4. `while loop`

```python
for iter_varaible in sequence:
    statements
    statements...
```

```python
while (condition):
    statements
    statement...
```

In [1]:
# write a program to iterate 1 to 10 numbers
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [1]:
#write a program to iterate name
name="shivaji"
for c in name:
    print(c)

s
h
i
v
a
j
i

In [2]:
# write a program to print names using for loop
names=["shiva","annie","vikas","ram"]
for n in names:
    print("my name is",n)

my name is shiva
my name is annie
my name is vikas
my name is ram

In [4]:
# write a program to print even numbers in between 1 to 20 using for loop
for i in range(1,21):
    if (i%2 == 0):
        print(i,end=",")

2,4,6,8,10,12,14,16,18,20,

In [5]:
#write a program to print odd number is between 50 to 100 using for loop
for i in range(50,101):
    if (i%2==1):
        print(i,end=",")

51,53,55,57,59,61,63,65,67,69,71,73,75,77,79,81,83,85,87,89,91,93,95,97,99,

In [7]:
# write a program to find the ovels from string using for loop?
name=str(input("please enter your name here:"))
print(name)
for char in name:
    if (char in ["a",'e','i','o','u']):
        print(char)

please enter your name here: shivaji

shivaji
i
a
i

In [2]:
# write a program to find the non vowels from string using for loop
info=str(input("please enter data here:"))
for i in info:
    if (i not in "aeioAEIOU"):
        print(i)

please enter data here: shivaji

s
h
v
j

In [3]:
# write a program to find the sum of all numbers in between 1 ro 20
result=0
for i in range(1,21):
    result=result+i #result+=i
print("sum of all numbers in between 1 to 20 is",result)

sum of all numbers in between 1 to 20 is 210

In [4]:
#write a progrm to find the sum of all odd numbers in between 1 to 1000 using for loop?
result=0
for i in range(1,1001):
    if (i%2==1):
        result=result+i
print("suk of all odd numbers in between 1 to 1000 is",result)

suk of all odd numbers in between 1 to 1000 is 250000

In [5]:
# write a program to find the product of all even numbers in between 500 to 600 using for loop?
result=1
for i in range(500,601):
    if (i%2==0):
        result=result*i
print("product of even numbers in between 500 to 600 is",result)

product of even numbers in between 500 to 600 is 53294996232847355638708394367566086673587026115116897793838238361895014516394609820724732325337522379503874471969830526255104000000000000000

In [7]:
#write a program to find the numbers in between 1 to 20 using while loop?
sn=1
en=20
while (sn<=en):
    print(sn,end=",")
    sn=sn+1

1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,

In [8]:
#write a program to print odd numbers in between 100 to 200 using while loop?
sn=100
en=200
while (sn<=en):
    if (sn%2==1):
        print(sn,end=",")
    sn=sn+1

101,103,105,107,109,111,113,115,117,119,121,123,125,127,129,131,133,135,137,139,141,143,145,147,149,151,153,155,157,159,161,163,165,167,169,171,173,175,177,179,181,183,185,187,189,191,193,195,197,199,

In [ ]:
#write a program to find the sum of all even numbers in between 1 to 100 using while loop
#write a program to find the product of all odd numbers in between 10 to 30 using while loop
#write a program to find the sum of all odd numbers and product of all even numbers in between 1 to 100 using while loop

In [10]:
sn=1
en=100
sum_even=0
while (sn<=en):
    if (sn%2==0):
        sum_even+=sn
    sn=sn+1
print("sum of all even numbers in between 1 to 100 is",sum_even)

sum of all even numbers in between 1 to 100 is 2550

In [11]:
sn=10
en=30
product_odd=1
while(sn<=en):
    if (sn%2==1):
        product_odd*=sn
    sn=sn+1
print("product of all odd numbers in between 10 to 30 is",product_odd)

product of all odd numbers in between 10 to 30 is 6550564395375